In [449]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
from sklearn import preprocessing

In [450]:
df = pd.read_csv('train_indessa.csv')

In [451]:
test = pd.read_csv('test_indessa.csv')

In [452]:
df.columns

Index([u'member_id', u'loan_amnt', u'funded_amnt', u'funded_amnt_inv', u'term',
       u'batch_enrolled', u'int_rate', u'grade', u'sub_grade', u'emp_title',
       u'emp_length', u'home_ownership', u'annual_inc', u'verification_status',
       u'pymnt_plan', u'desc', u'purpose', u'title', u'zip_code',
       u'addr_state', u'dti', u'delinq_2yrs', u'inq_last_6mths',
       u'mths_since_last_delinq', u'mths_since_last_record', u'open_acc',
       u'pub_rec', u'revol_bal', u'revol_util', u'total_acc',
       u'initial_list_status', u'total_rec_int', u'total_rec_late_fee',
       u'recoveries', u'collection_recovery_fee',
       u'collections_12_mths_ex_med', u'mths_since_last_major_derog',
       u'application_type', u'verification_status_joint', u'last_week_pay',
       u'acc_now_delinq', u'tot_coll_amt', u'tot_cur_bal', u'total_rev_hi_lim',
       u'loan_status'],
      dtype='object')

In [453]:
df.shape

(532428, 45)

In [454]:
test.shape

(354951, 44)

In [455]:
df.head(2)

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350,14350.0,36 months,,19.19,E,E3,clerk,...,0.0,74.0,INDIVIDUAL,NaN,26th week,0.0,0.0,28699.0,30800.0,0
1,70011223,4800,4800,4800.0,36 months,BAT1586599,10.99,B,B4,Human Resources Specialist,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,0.0,9974.0,32900.0,0

In [456]:
df.isnull().sum()

member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
batch_enrolled                  85149
int_rate                            0
grade                               0
sub_grade                           0
emp_title                       30830
emp_length                          0
home_ownership                      0
annual_inc                          3
verification_status                 0
pymnt_plan                          0
desc                           456829
purpose                             0
title                              90
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                        16
inq_last_6mths                     16
mths_since_last_delinq         272554
mths_since_last_record         450305
open_acc                           16
pub_rec                            16
revol_bal                           0
revol_util                        287
total_acc                          16
initial_list_status                 0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
collections_12_mths_ex_med         95
mths_since_last_major_derog    399448
application_type                    0
verification_status_joint      532123
last_week_pay                       0
acc_now_delinq                     16
tot_coll_amt                    42004
tot_cur_bal                     42004
total_rev_hi_lim                42004
loan_status                         0
dtype: int64

In [457]:
test.isnull().sum()

member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
batch_enrolled                  45599
int_rate                            0
grade                               0
sub_grade                           0
emp_title                       20627
emp_length                          0
home_ownership                      0
annual_inc                          1
verification_status                 0
pymnt_plan                          0
desc                           304769
purpose                             0
title                              61
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                        13
inq_last_6mths                     13
mths_since_last_delinq         181758
mths_since_last_record         300021
open_acc                           13
pub_rec                            13
revol_bal                           0
revol_util                        215
total_acc                          13
initial_list_status                 0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
collections_12_mths_ex_med         50
mths_since_last_major_derog    266228
application_type                    0
verification_status_joint      354745
last_week_pay                       0
acc_now_delinq                     13
tot_coll_amt                    28272
tot_cur_bal                     28272
total_rev_hi_lim                28272
dtype: int64

In [458]:
#Droping columns based on number of empty values
#for TRAINING data
colsDropped = []
for col_names in df.columns:
    if(df[col_names].isnull().sum() > 1000):
        colsDropped.append(col_names)
        df = df.drop(col_names, axis = 1)
print colsDropped

['batch_enrolled', 'emp_title', 'desc', 'mths_since_last_delinq', 'mths_since_last_record', 'mths_since_last_major_derog', 'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim']

In [459]:
#Dropping columns for TEST data
for col_names in colsDropped:
    test = test.drop(col_names, axis = 1)

In [460]:
df.dtypes

member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                      float64
grade                          object
sub_grade                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
pymnt_plan                     object
purpose                        object
title                          object
zip_code                       object
addr_state                     object
dti                           float64
delinq_2yrs                   float64
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     float64
revol_util                    float64
total_acc                     float64
initial_list_status            object
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
collections_12_mths_ex_med    float64
application_type               object
last_week_pay                  object
acc_now_delinq                float64
loan_status                     int64
dtype: object

In [461]:
#Filling missing values with MEAN
colsFillMean = ['annual_inc','revol_util']
for cols in colsFillMean:
    df[cols].fillna(df[cols].mean(), inplace=True)
    test[cols].fillna(df[cols].mean(), inplace=True)

#Filling missing values with MODE
colsFillMode = ['delinq_2yrs','inq_last_6mths','open_acc','pub_rec','total_acc','collections_12_mths_ex_med','acc_now_delinq']
for cols in colsFillMode:
    df[cols].fillna(df[cols].mode()[0], inplace=True)
    test[cols].fillna(df[cols].mode()[0], inplace=True)
    
df.isnull().sum()

member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
grade                          0
sub_grade                      0
emp_length                     0
home_ownership                 0
annual_inc                     0
verification_status            0
pymnt_plan                     0
purpose                        0
title                         90
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                    0
inq_last_6mths                 0
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                     0
total_acc                      0
initial_list_status            0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
collections_12_mths_ex_med     0
application_type               0
last_week_pay                  0
acc_now_delinq                 0
loan_status                    0
dtype: int64

In [462]:
#Dropping specific columns
colsToDrop = ['member_id','zip_code','pymnt_plan','application_type','title']
for cols in colsToDrop:
    df = df.drop(cols, axis=1)
    test = test.drop(cols, axis=1)

In [463]:
df.head(2)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,grade,sub_grade,emp_length,home_ownership,annual_inc,...,total_acc,initial_list_status,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,last_week_pay,acc_now_delinq,loan_status
0,14350,14350,14350.0,36 months,19.19,E,E3,9 years,OWN,28700.0,...,28.0,f,1173.84,0.0,0.0,0.0,0.0,26th week,0.0,0
1,4800,4800,4800.0,36 months,10.99,B,B4,< 1 year,MORTGAGE,65000.0,...,13.0,w,83.95,0.0,0.0,0.0,0.0,9th week,0.0,0

In [464]:
# df.loan_amnt.hist()

In [465]:
# df.funded_amnt.hist()

In [466]:
# sns.countplot(x="term", data=df)

In [467]:
df.term.value_counts()

36 months    372793
60 months    159635
Name: term, dtype: int64

In [468]:
def removeMonths(x):
    return int(x.split(" ")[0])
df.term = df.term.apply(removeMonths)
test.term = test.term.apply(removeMonths)

In [469]:
df.head(2)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,grade,sub_grade,emp_length,home_ownership,annual_inc,...,total_acc,initial_list_status,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,last_week_pay,acc_now_delinq,loan_status
0,14350,14350,14350.0,36,19.19,E,E3,9 years,OWN,28700.0,...,28.0,f,1173.84,0.0,0.0,0.0,0.0,26th week,0.0,0
1,4800,4800,4800.0,36,10.99,B,B4,< 1 year,MORTGAGE,65000.0,...,13.0,w,83.95,0.0,0.0,0.0,0.0,9th week,0.0,0

In [470]:
df.emp_length.value_counts()

10+ years    175105
2 years       47276
< 1 year      42253
3 years       42175
1 year        34202
5 years       33393
4 years       31581
n/a           26891
7 years       26680
8 years       26443
6 years       25741
9 years       20688
Name: emp_length, dtype: int64

In [471]:
df.emp_length.replace('n/a','0 years',inplace=True )
df.emp_length.replace('< 1 year','0.5 years',inplace=True )
df.emp_length.replace('10+ years','10 years',inplace=True )

def removeYears(x):
    return float(x.split(" ")[0])
df.emp_length = df.emp_length.apply(removeYears)
df.emp_length.value_counts()

10.0    175105
2.0      47276
0.5      42253
3.0      42175
1.0      34202
5.0      33393
4.0      31581
0.0      26891
7.0      26680
8.0      26443
6.0      25741
9.0      20688
Name: emp_length, dtype: int64

In [472]:
test.emp_length.replace('n/a','0 years',inplace=True )
test.emp_length.replace('< 1 year','0.5 years',inplace=True )
test.emp_length.replace('10+ years','10 years',inplace=True )

# test.emp_length
test.emp_length = test.emp_length.apply(removeYears)

In [473]:
for items in df.select_dtypes(include = ['object']):
    print df[items].value_counts(),'\n'

B    152713
C    147499
A     89107
D     83567
E     42495
F     13826
G      3221
Name: grade, dtype: int64

B3    33844
B4    33198
C1    31975
C2    31356
C3    30080
B2    29390
B5    29313
C4    29103
A5    27016
B1    26968
C5    24985
D1    21712
A4    20823
D2    17991
D3    15771
D4    15226
A3    14082
A1    13653
A2    13533
D5    12867
E1    10928
E2    10255
E3     8488
E4     7051
E5     5773
F1     4350
F2     3196
F3     2708
F4     2056
F5     1516
G1     1112
G2      824
G3      559
G4      391
G5      335
Name: sub_grade, dtype: int64

MORTGAGE    265940
RENT        213668
OWN          52664
OTHER          117
NONE            36
ANY              3
Name: home_ownership, dtype: int64

Source Verified    197750
Verified           174702
Not Verified       159976
Name: verification_status, dtype: int64

debt_consolidation    314989
credit_card           123670
home_improvement       31087
other                  25652
major_purchase         10284
small_business          6146
car                     5266
medical                 5117
moving                  3243
vacation                2812
house                   2170
wedding                 1401
renewable_energy         331
educational              260
Name: purpose, dtype: int64

CA    77911
NY    44406
TX    42527
FL    36575
IL    21205
NJ    20103
PA    18882
OH    17778
GA    17292
VA    15826
NC    14812
MI    13869
MD    12667
MA    12385
AZ    12320
WA    11664
CO    11233
MN     9577
MO     8538
IN     8197
CT     8075
TN     7817
NV     7408
WI     6880
AL     6699
OR     6549
SC     6331
LA     6304
KY     5140
KS     4818
OK     4797
AR     3988
UT     3829
NM     2958
HI     2705
WV     2615
NH     2568
RI     2322
MS     2296
MT     1545
DE     1512
DC     1477
AK     1346
WY     1198
SD     1091
VT     1062
NE      709
ME      324
ND      284
IA        7
ID        7
Name: addr_state, dtype: int64

f    274018
w    258410
Name: initial_list_status, dtype: int64

13th week     30333
9th week      28626
26th week     27475
22th week     26000
4th week      25704
35th week     24037
39th week     23796
17th week     22036
31th week     21437
52th week     19391
65th week     19231
48th week     19104
61th week     18082
78th week     14130
74th week     13407
87th week     11333
91th week     10759
NAth week     10614
44th week     10433
83th week      9817
70th week      9605
156th week     8504
100th week     8309
43th week      8159
109th week     7838
57th week      7828
104th week     7703
96th week      6810
113th week     6533
117th week     6463
              ...
222th week      183
200th week      180
204th week      171
226th week      167
231th week      148
235th week      137
244th week      130
239th week      129
248th week      124
252th week      117
169th week      104
256th week       82
79th week        81
182th week       34
243th week       28
153th week       25
192th week       18
230th week       17
257th week       11
218th week       11
270th week       10
221th week        3
205th week        2
291th week        2
269th week        1
278th week        1
274th week        1
300th week        1
283th week        1
304th week        1
Name: last_week_pay, dtype: int64

In [474]:
def removeWeeks(x):
    x=x.replace("th", "")
    return int(x.split(" ")[0])
df.last_week_pay.replace("NAth week", "13th week", inplace=True)
df.last_week_pay = df.last_week_pay.apply(removeWeeks)

test.last_week_pay.replace("NAth week", "13th week", inplace=True)
test.last_week_pay = test.last_week_pay.apply(removeWeeks)

In [475]:
df.head(2)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,grade,sub_grade,emp_length,home_ownership,annual_inc,...,total_acc,initial_list_status,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,last_week_pay,acc_now_delinq,loan_status
0,14350,14350,14350.0,36,19.19,E,E3,9.0,OWN,28700.0,...,28.0,f,1173.84,0.0,0.0,0.0,0.0,26,0.0,0
1,4800,4800,4800.0,36,10.99,B,B4,0.5,MORTGAGE,65000.0,...,13.0,w,83.95,0.0,0.0,0.0,0.0,9,0.0,0

In [476]:
df.head(2)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,grade,sub_grade,emp_length,home_ownership,annual_inc,...,total_acc,initial_list_status,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,last_week_pay,acc_now_delinq,loan_status
0,14350,14350,14350.0,36,19.19,E,E3,9.0,OWN,28700.0,...,28.0,f,1173.84,0.0,0.0,0.0,0.0,26,0.0,0
1,4800,4800,4800.0,36,10.99,B,B4,0.5,MORTGAGE,65000.0,...,13.0,w,83.95,0.0,0.0,0.0,0.0,9,0.0,0

In [477]:
df1=df.copy()
test1=test.copy()

In [478]:
# le = preprocessing.LabelBinarizer()
le = preprocessing.LabelEncoder()

In [479]:
#Label Encoding
for cols in df1.select_dtypes(include=["object"]).columns:
    df1[cols] = pd.Series(le.fit_transform(df1[cols].values))
    test1[cols] = pd.Series(le.transform(test1[cols].values))

In [480]:
test1.head(2)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,grade,sub_grade,emp_length,home_ownership,annual_inc,...,revol_util,total_acc,initial_list_status,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,last_week_pay,acc_now_delinq
0,14000,14000,14000.0,60,16.24,2,14,4.0,5,73500.0,...,65.3,53.0,0,3915.61,0.0,0.0,0.0,0.0,104,0.0
1,16000,16000,16000.0,60,9.49,1,6,5.0,1,105000.0,...,19.4,63.0,1,1495.06,0.0,0.0,0.0,0.0,57,0.0

In [481]:
df1.columns

Index([u'loan_amnt', u'funded_amnt', u'funded_amnt_inv', u'term', u'int_rate',
       u'grade', u'sub_grade', u'emp_length', u'home_ownership', u'annual_inc',
       u'verification_status', u'purpose', u'addr_state', u'dti',
       u'delinq_2yrs', u'inq_last_6mths', u'open_acc', u'pub_rec',
       u'revol_bal', u'revol_util', u'total_acc', u'initial_list_status',
       u'total_rec_int', u'total_rec_late_fee', u'recoveries',
       u'collection_recovery_fee', u'collections_12_mths_ex_med',
       u'last_week_pay', u'acc_now_delinq', u'loan_status'],
      dtype='object')

In [482]:
y_train = df1.loan_status.values
np.save('y_train', y_train)
df1 = df1.drop('loan_status', axis=1)

In [483]:
x_train = df1.values
print "Training data shape: ", x_train.shape
np.save('x_train', x_train)

test_data = test1.values
print "Testing data shape: ", test_data.shape
np.save('test',test_data)

Training data shape:  (532428L, 29L)
Testing data shape:  (354951L, 29L)

In [484]:
test1.isnull().sum()

loan_amnt                       0
funded_amnt                     0
funded_amnt_inv                 0
term                            0
int_rate                        0
grade                           0
sub_grade                       0
emp_length                      0
home_ownership                  0
annual_inc                      1
verification_status             0
purpose                         0
addr_state                      0
dti                             0
delinq_2yrs                    13
inq_last_6mths                 13
open_acc                       13
pub_rec                        13
revol_bal                       0
revol_util                    215
total_acc                      13
initial_list_status             0
total_rec_int                   0
total_rec_late_fee              0
recoveries                      0
collection_recovery_fee         0
collections_12_mths_ex_med     50
last_week_pay                   0
acc_now_delinq                 13
dtype: int64